:root {
  --pink: hsl(0, 36%, 70%);
  --red: hsl(0, 93%, 68%);
  --darkRed: hsl(0, 6%, 24%);
  --linearGradientWhite: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );
  --linearGradientPink: linear-gradient(
    135deg,
    hsl(0, 80%, 86%),
    hsl(0, 74%, 74%)
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Josefin Sans", sans-serif;
}

body {
  min-height: 100vh;

  font-size: 1.6rem;
}

main {
  min-height: 100vh;
  display: block;
  margin: 0 auto;

  background: var(--linearGradientWhite);

  max-width: 40rem;
}

.mobileLogo {
  margin-top: 3.1rem;
  margin-left: 3.2rem;
  margin-bottom: 3.2rem;
}

.heroMobile {
  width: 100%;
}

.heroDesktop {
  display: none;
}

.containerContent {
  padding: 6.4rem 3.2rem 9.2rem;

  text-align: center;
}

/* .bgPattern {
  display: none;
} */

.desktopLogo {
  display: none;
}

.containerContent > h1 {
  margin-bottom: 1.6rem;

  font-weight: 600;
  font-size: 4rem;
  line-height: 42px;
  letter-spacing: 10.83px;

  color: var(--darkRed);
  text-transform: uppercase;
}

.containerContent > h1 > span {
  font-weight: 300;

  color: var(--pink);
}

.containerContent > p {
  margin-bottom: 3.2rem;

  font-weight: 400;
  font-size: 1.4rem;
  line-height: 22px;

  color: var(--pink);
}

.inputBox {
  position: relative;
}

input {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2.4rem;

  border-radius: 28px;
  border: none;
  box-shadow: inset 0 0 0 1px var(--pink);
  background: transparent;

  color: var(--darkRed);
}

.borderError {
  box-shadow: inset 0 0 0 2px var(--red);
}

input::placeholder {
  color: var(--pink);
}

.btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  width: 6.4rem;
  border-radius: 28px;
  border: none;
  background: var(--linearGradientPink);

  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.btn:hover {
  opacity: 50%;
}

.errorImg {
  visibility: hidden;

  position: absolute;
  top: 50%;
  right: 7.2rem;
  transform: translateY(-50%);
}

.errorMessage {
  visibility: hidden;

  margin-top: 0.8rem;
  margin-left: 2.4rem;
  text-align: left;

  font-weight: 400;
  font-size: 1.3rem;
  color: var(--red);
}

@media (min-width: 1400px) {
  main {
    min-height: 100vh;
    display: block;
    margin: 0 auto;

    background: var(--linearGradientWhite);

    max-width: 140rem;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 61rem;
    grid-template-areas: "text img";
  }

  .mobileLogo {
    display: none;
  }

  .heroMobile {
    display: none;
  }

  .heroDesktop {
    width: 100%;

    display: block;

    grid-area: img;
  }

  .containerContent {
    padding: 7.5rem 22rem 15.2rem 16.5rem;

    text-align: left;

    grid-area: text;

    position: relative;

    background: url(./images/bg-pattern-desktop.svg) no-repeat;
  }

  /* .bgPattern {
    display: block;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  } */

  .desktopLogo {
    margin-bottom: 13.6rem;

    display: block;
  }

  .containerContent > h1 {
    margin-bottom: 3.2rem;

    font-weight: 600;
    font-size: 6.4rem;
    line-height: 71px;
    letter-spacing: 17.32px;

    color: var(--darkRed);
    text-transform: uppercase;
  }

  .containerContent > h1 > span {
    font-weight: 300;

    color: var(--pink);
  }

  .containerContent > p {
    margin-bottom: 4rem;

    font-weight: 400;
    font-size: 1.6rem;
    line-height: 28px;

    color: var(--pink);
  }

  .inputBox {
    position: relative;
  }

  input {
    width: 100%;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    padding-left: 3.2rem;

    border-radius: 28px;
    border: none;
    box-shadow: inset 0 0 0 1px var(--pink);
    background: transparent;

    color: var(--darkRed);
  }

  .borderError {
    box-shadow: inset 0 0 0 2px var(--red);
  }

  input::placeholder {
    color: var(--pink);
  }

  .btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    width: 6.4rem;
    border-radius: 28px;
    border: none;
    background: var(--linearGradientPink);

    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  .btn:hover {
    opacity: 50%;
  }

  .errorImg {
    visibility: hidden;

    position: absolute;
    top: 50%;
    right: 7.2rem;
    transform: translateY(-50%);
  }

  .errorMessage {
    visibility: hidden;

    margin-top: 0.8rem;
    margin-left: 2.4rem;
    text-align: left;

    font-weight: 400;
    font-size: 1.3rem;
    color: var(--red);
  }
}
